@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
  color-scheme: dark;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Selection Color */
::selection {
  background: rgba(34, 211, 238, 0.3);
  /* Cyan Glow */
  color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #050505;
}